---
conference_name: "Example Conference"
base_url: "http://bof-o-matic.sen.cx"
use_short_urls: true

conference_starts: '2025-11-07 16:00'
conference_ends: '2025-11-09 16:00'
slot_length: 60

reminder_mins_before: 10
interest_threshold: 8

selfschedule_delay: 15

generate_pdfs: false

generate_pngs: true
png_width: 1650
png_height: 696
png_font: 'label.ttf'

email_hold: false
email_to_domain_filter:
  - 'sen.cx'
keep_sent_mail: true
smtp_server: 'smtp.mailgun.org'
smtp_port: 465
smtp_tls: true
smtp_username: 'bof-o-matic@example.org'
smtp_password: 'PASSWORD HERE'
smtp_authmethod: 'login' # plain, login, or cram_md5
email_from: 'Example Conference BoFs <bofomatic@sen.cx>'

sms_twilio_sid: 'SID GOES HERE'
sms_twilio_authtoken: 'AUTHTOKEN GOES HERE'
sms_from: '+18155221201'
keep_sent_sms: true

kiosk_timeout: 300

session_secret: '4c89421c3114b8fd14e5946d64ab5dc8d82f2f311e5f7327f5e0f65bf4e8c418a656e47eb25d0cae22ae2344e1bb70327d19fcd0a84c927083bbcc9480fd661f'
