%h2= "Register Interest for #{@proposal[:title]}"
%form#interestform{method: 'post', onsubmit: 'return validateInterest();'}
  %div#name-alert{tabindex: -1}
  %div.mb-3
    %label.form-label{for: 'name'} Name:
    %input.form-control#name{name: 'name'}
  %div#email-alert{tabindex: -1}
  %div.mb-3
    %label.form-label{for: 'email'} Email (optional):
    %input.form-control#email{name: 'email'}
  %div#phone-alert{tabindex: -1}
  %div.mb-3
    %label.form-label{for: 'phone'} Phone (optional, for SMS notifications):
    %input.form-control#phone{name: 'phone'}
  %input.btn.btn-primary.mb-3{type: 'submit', value: 'Submit Interest'}
