%h2 Add Scheduler
The scheduler has been added successfully.
%ul
  %li
    Username:
    = @new_username
  %li
    Initial Password:
    = @new_passwd

%a{href: "/schedulers"} Return to Schedulers view
